.button-group {
  position: absolute;
  background-color: white;
  display: none;
  z-index: 4;
}

.svg-container:hover .button-group {
  display: block;
}

.error {
  font-size: 12px;
  font-style: italic;
  color: red;
  display: none;
  margin-top: 3px;
}

input:invalid[focused="true"] ~ .error {
  display: block;
}

.profile_error {
  font-size: 12px;
  font-style: italic;
  color: red; 
  margin-top: 3px;
}

/* .btn {
  background-color: rgb(92, 6, 6);
  border: none;
  color: white;
}

.btn:hover {
  background-color: rgb(92, 6, 6);
  color: white;
}
.btn-primary:active {
  background-color: rgb(92, 6, 6);
  color: white;
} */
